*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Playfair Display, serif !important;
  padding-top: 0; 
}

a.button {
  transition: .2s all ease;
}

.navbar-transition {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999; 
  transition: all 0.3s ease;
  background-color: transparent;
  box-shadow: none;
}

.navbar-large {
  padding: 1.5rem 1rem; 
}

.navbar-small {
  padding: 0.5rem 1rem;
  background-color: rgb(0, 0, 0); 
  box-shadow: 0 0 10px 1px #ffffff71;
}

.nav-btn{     
  color: white !important;
  border-radius: 10px;
  border: 2px solid white !important;
  background: transparent;
  padding: 6px 24px;
  font-size: 20px;
}

.nav-btn:hover {
  background: white !important;
  color: black !important;
  border: 2px solid white;
}

.hamburger-btn {
  background: none;
  border: none;
  color: black;
  display: flex;
  align-items: center;
}

.side-img-btn {
  border: none;
  background: transparent;
  padding: 0;
}

.side-img {
  height: 35px;
  cursor: pointer;
}

.offcanvas-header .btn-close {
  filter: invert(1);
  opacity: 1;
  font-size: 20px;
}

.offcanvas.show:not(.hiding), .offcanvas.showing {
  transform: none;
  background: #111111;
  width: 87%;
  color: white;
  padding-left: 80px;
}

.menu-logo{
  height: 60px;
}

.offcanvas-body {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  font-size: 28px;
  font-weight: 200;
}

.contact-btns{
  display: flex;
  gap: 24px;
}

.header-btn{
  font-family: DM Sans, sans-serif !important;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  background-color: #000;
  color: white;
  text-decoration: none;
  padding: 16px 32px;
  border: 1px solid #fff;
  border-radius: 8px;
  transition: all .2s ease;
}

.header-btn:hover,
.icon-1:hover{
  background-color: white;
  color: #000;
}

.oposite-hover{
  background-color: white;
  color:  black;
}

.oposite-hover:hover{
  background-color: black;
  color:  white;
}

.dropdown-menu.show {
  background: #2a2a2a;
  border:  1px solid #ffffff6e;
}

.dropdown-item:hover{
  background-color: #2a2a2a;
  color: white;
}

.dropdown-item {
  color: #ffffff6e;
}

/* Banner section */
.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 90vh;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  transition: background-image 1s ease-in-out;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  background-size: cover;
  background-position: center center;
  z-index: 0;
  animation: kenBurns 30s ease-in-out infinite alternate;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: 
    linear-gradient(to right, rgba(255,255,255,0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255,255,255,0.03) 1px, transparent 1px);
  background-size: 40px 40px;
  pointer-events: none;
  z-index: 1;
}

@keyframes kenBurns {
  0% {
    transform: scale(1) translate(0, 0);
  }
  25% {
    transform: scale(1.05) translate(-2%, -1%);
  }
  50% {
    transform: scale(1.1) translate(2%, -2%);
  }
  75% {
    transform: scale(1.05) translate(-1%, 2%);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

.banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.1));
  z-index: 1;
}

.banner-content {
  position: relative;
  z-index: 2;
  padding-top: 75px;
  color: #fff;
  opacity: 1;
  animation: fadeIn 1s forwards;
}

.banner-img-col {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  z-index: 2;
}

.banner-img-col img {
  width: 90px;
  height: 60px;
  object-fit: contain;
  margin: 5px 0;
}

.banner-content h1{
  width: 140%;
  font-size: 58px;
}

.banner-content p{
  font-size: 30px;
}

.bnner-btn{
  font-family: DM Sans, sans-serif !important;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #fff;
  text-decoration: none;
  padding: 16px 32px;
  border: 1px solid #fff;
  border-radius: 8px;
  transition: all .2s ease;
}

.bnner-btn:hover{
  background: #fff;
  color: #000;
  border: 2px solid #000;
}

/* Section 2 */
.sec-2 {
  display: flex;
  align-items: flex-start;
  gap: 50px;
  position: relative;
  padding: 60px 7%;
  height: 100vh;
  overflow: hidden;
}

.sec-2-top-head h2 {
  font-family: "Playfair Display", serif !important;
  font-size: 42px;
  line-height: 100%;
  margin-bottom: 24px;
}

.sec-2-top-head p {
  font-family: "DM Sans", sans-serif !important;
  font-size: 24px;
  line-height: 150%;
  margin: 0;
}
.left-tabs-right {
  margin-top: 80px;
  display: flex;
}

.sec-2-left {
  position: sticky;
  top: 120px;
  height: fit-content;
  border-right: .75px solid #aeaeae;
}

.sec-2-left ul {
  padding: 0;
  margin: 0;
}

.sec-2-left li {
  font-size: 30px;
  padding: 15px 0;
  list-style: none;
  cursor: pointer;
  color: #000;
  transition: all 0.3s ease;
  
}
.sec-2-left li.active {
  color: black;
  font-weight: 600;
  /* transform: translateX(5px); */
  border-right: 5px solid black;
}

.right-pills-scrolling {
  flex: 1;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
  scroll-behavior: smooth;
}

.right-pills-scrolling::-webkit-scrollbar {
  width: 6px;
}

.right-pills-scrolling::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.right-pills-scrolling::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.pill-right-cont {
  padding-bottom: 60px;
}
.pill-right-cont h3 {
  font-size: 42px;
}

.pill-right-cont p {
  font-size: 18px;
}

.pill-image img {
  width: 100%;
  height: auto;
}

.row-image-cont p {
  font-family: "DM Sans", sans-serif !important;
  font-weight: 300;
  font-size: 20px;
  margin-top: 12px;
}

.right-pill-btn {
  margin-top: 2rem !important;
}

.right-pill-down-btn {
  color: white !important;
  border-radius: 10px;
  background: black;
  padding: 8px 24px;
  font-size: 20px;
  border: none;
  transition: all 0.3s ease;
}

.right-pill-down-btn:hover {
  background: #fff !important;
  color: #000 !important;
  border: 2px solid #000;
}

/* Section 3 */
.sec-3{
  padding: 60px 0;
}

.sec-3-bottom-cont {
  padding-top: 10px;
}

.sec-3-first-h h2{
  font-size: 42px;
}

.bottom-cont-h3 {
  font-size: 24px;
}

.bottom-cont-p {
  width: 127%;
}

.bottom-cont-p p {
  font-size: 18px;
}

.sec-3-btn {
  color: white !important;
  border-radius: 10px;
  background: black;
  padding: 8px 24px;
  font-size: 20px;
  border: none;
  transition: all 0.3s ease;
  margin-top: -30px;
}

.sec-3-btn:hover {
  background: white;
  border: 2px solid black !important;
  color: black !important;
}

.sec-3-video {
  margin: 30px 0;
}

.sec-3-video iframe {
  border-radius: 30px;
  width: 100%;
  height: 650px;
}

/* Section 4 */
.sec-4-top-heading{
  margin-bottom: 90px;
  color: white;
  background-image: url('./assets/images/CTA.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 7%;
}

.sec-4-top-heading h3{
  font-family: Playfair Display, serif !important;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0;
  margin-bottom: 24px;  
}

.sec-4-top-heading p{
  font-family: DM Sans, sans-serif !important;
  font-size: 28px;
  line-height: 150%;
  margin: 0;
}

.sec-4-top-right{
  display: flex;
  justify-content: end;
  padding: 65px 0;
}

.sec-4-top-head-btn{
  gap: 10px;
  padding: 10px 40px;
  font-size: 18px;
  border-radius: 8px;
  border: 2px solid white;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.sec-4-top-head-btn:hover{
  background: #fff;
  color: #000;
  border: 2px solid #000;
}

.sec-4-crousel {
  margin-bottom: 80px;
  display: flex;
  gap: 40px;
}

.sec-4-left-cont {
  flex: 0 0 30%;
}

.sec-4-left-cont h2 {
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 15px;
}

.sec-4-left-cont p {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}

.sec-4-left-cont-btn {
  padding: 8px 30px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}

.sec-4-left-cont-btn:hover {
  background: #fff;
  color: #000;
  border: 2px solid #000;
}

.arrow-icon {
  margin-left: 8px;
  transition: transform 0.3s ease;
}

.sec-4-left-cont-btn:hover .arrow-icon {
  transform: translateX(5px);
}

.sec-4-right-crousel-wrapper {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.sec-4-right-crousel-track {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: scrollInfinite 30s linear infinite;
}

.sec-4-right-crousel-card {
  display: flex;
  background: #111;
  color: #fff;
  border-radius: 16px;
  overflow: hidden;
  max-width: 500px;
  height: 260px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.sec-4-right-crousel-left {
  flex: 1;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sec-4-right-crousel-left h3 {
  font-size: 22px;
  /* font-weight: 700; */
  margin-bottom: 10px;
}

.sec-4-right-crousel-left p {
  font-size: 16px;
  line-height: 24px;
  color: #ddd;
}

.sec-4-right-crousel-left .card-number {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 64px;
  font-weight: 300;
  color: rgba(255,255,255,0.1);
}

@keyframes scrollInfinite {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--scroll-distance))); }
}

/* Section 5 */
.sec-5{
  background: url('./assets/banner/projectbg.png') no-repeat center center;
  padding: 60px 0;
}

.sec-5-top-head{
  line-height: 25px;
}

.sec-5-top-head h2{
  /* font-weight: 700; */
  font-size: 42px;
}

.sec-5-next-head h3{
  font-family: DM Sans,sans-serif!important;
  margin: 15px 0;
  font-size: 24px;
}

.sec-5-next-head p{
  font-family: DM Sans, sans-serif !important;
  font-weight: 300;
  letter-spacing: 0;
  text-align: left;  
  font-size: 18px;
}

.sec-5-images{
  margin-top: 40px;
}

.sec-5-images img{
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.sec-5-img-spc{
  padding: 15px 0;
}

/* Section 6 */
.sec-6{
  padding: 60px 0;
}

.sec-6-top-head{
  line-height: 25px;
}

.sec-6-top-head h2{
  font-family: Playfair Display,serif!important;
  font-size: 42px;
}

.sec-6-top-head p{
  font-family: DM Sans,sans-serif!important;
  font-size: 18px;
}

.sec-6-row {
  padding: 30px 0;
}
.sec-6-cont-txt{
  margin: 25px 0;
}
.sec-6-cont-img img {
  width: auto;
  height: 64px;
}

.sec-6-cont-txt h3 {
  font-family: Playfair Display, serif !important;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
  color: #000;
  margin: 24px 0;
}

.sec-6-cont-txt p{
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0;
  color: #000;
  margin: 0;
}

/* Section 7 */
.sec-7{
  background: black;
  color: white;
  padding: 60px 0;
}

.sec-7-top-head h2{
  font-family: Playfair Display,serif!important;
  font-size: 42px;
}

.sec-7-top-head p{
  font-family: DM Sans, sans-serif !important;
  font-weight: 300;
  letter-spacing: 0;
  text-align: left;
  font-size: 18px;
}

.sec-7-cont{
  margin-top: 40px;
}

.sec-7-row-img img{
  width: auto;
  height: 150px;
}

.sec-7-row-text h3{
  font-family: Playfair Display, serif !important;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
  margin: 24px 0;
}

.sec-7-row-text p{
  font-family: DM Sans, sans-serif !important;
  font-weight: 300;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0;
  margin: 0;
}

/* Section 8 */
.sec-8-bg{
  padding: 0 !important;
  background: url('./assets/clientLogo/clientlogobg.png') no-repeat center center;
}

.sec-8-top-head h2{
  font-family: Playfair Display,serif!important;
  font-size: 42px;
} 

.sec-8-top-head p{
  font-family: DM Sans, sans-serif !important;
  font-weight: 300;
  letter-spacing: 0;
  text-align: left;
  font-size: 24px;
}

.sec-8-bg-slide {
  position: relative;
  overflow: hidden;
}

.sec-8-next {
  padding: 40px 0;
  overflow: hidden;
}

.marquee {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.marquee-track {
  display: flex;
  gap: 20px;
  animation: scroll 25s linear infinite;
}

.slide {
  width: 200px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  max-width: 100%;
  height: auto;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* Section 9 */
.sec-9{
  padding: 60px 0;
}

.sec-9-head h2{
  font-family: Playfair Display, serif !important;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0;
  margin-bottom: 24px;
}

.card-cont {
  background: #fafbfe;
  padding: 20px 30px;
  height: 100%;
}

.quot-image img{
  height: 43px;
  width: auto;
}

.card-user-cont {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-para p{
  font-style: italic;
  font-family: DM Sans,sans-serif !important;
  padding-bottom: 30px;
  border-bottom: 1px solid #00000033;
  margin-bottom: 40px;
  margin-top: 25px;
  font-size: 16px;
}

.card-user-image img{
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.card-user-name h4{
  font-family: DM Sans, sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0;
  text-align: left;
  color: #000;
  margin: 0;
}

.card-user-name p{
  font-family: DM Sans, sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0;
  text-align: left;
  color: #000;
  margin: 0;
}

/* Section 10 */
.sec-10{
  background: url('./assets/images/form.jpg') no-repeat center center;
  padding: 60px 0;
}

.sec-10-left{
  color: white;
  line-height: 10;
  padding: 0 18%;
}

.sec-10-head {
  font-family: Playfair Display, serif !important;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0;
  margin-bottom: 24px;
}

.sec-10-head h2{
  font-family: DM Sans, sans-serif !important;
  font-weight: 200;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0;
  margin-bottom: 40px;
}

.sec-10-img img{
  height: 85px;
  width: 70%;
}

.form-title {
  margin-bottom: 20px;
  color: white;
}

.contact-form {
  width: 100%;
  max-width: 400px;
}

.form-input {
  margin-bottom: 15px;
}

.form-input input,
.form-input textarea {
  width: 100%;
  font-family: "DM Sans", sans-serif !important;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  padding: 15px 20px;
  background: #2a2a2a;
  border: 1px solid rgba(203, 212, 230, 0.2);
  border-radius: 8px;
}

/* Section 11 */
.sec-11{
  background: url('./assets/images/existenceimgbg.png') no-repeat center center;
  padding: 60px 0;
}

.sec-11-head h2{
  font-family: DM Sans, sans-serif !important;
  font-weight: 200;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0;
  margin-bottom: 40px;
}

.sec-11-cont h3{
  font-family: Playfair Display, serif !important;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0;
  margin: 24px 0;
}

.sec-11-cont img {
  /* width: 100%;
  max-width: 200px; */
  height: auto;
}

/* Footer */
.footer{
  padding: 50px 0 0 0;
  background-color: #000;
}

.footer-p p{
  font-family: DM Sans, sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0;
  color: #fff;
  margin: 12px 0 30px;
}

.footer-head-our,
.footer-head-quick,
.footer-head-product {
  padding-left: 30px;
  padding-top: 8px;
}

.footer-logo img{
  width: 70%;
}

.footer-head-our h3,
.footer-head-quick h3,
.footer-head-product h3 {
  font-family: DM Sans, sans-serif !important;
  font-weight: 400;
  font-size: 28px;
  line-height: 125%;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  margin-bottom: 10px;
}

.footer ul{
  line-height: 3;
  list-style: none;
  padding: 0;
}

.footer ul li a{
  font-family: DM Sans, sans-serif !important;
  font-weight: 400;
  font-size: 18px;
  line-height: 240%;
  letter-spacing: 0;
  color: #f5f4f4;
  text-decoration: none;
}

.footer-socials a{
  margin: 0 3px;
  border-radius: 30px;
  padding: 7px 10px;
  display: inline-block;
}

svg {
  width: 12px;
  height: 28px;
  color: white !important;
}

.all-right-deserve{
  color: #fff;
  text-align: center;
  font-family: DM Sans, sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  margin: 40px 0 0;
  padding: 20px 0;
  border-top: 1px solid #535353;
}

